<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="_3880_80_FlashStation.Vector.VFlashTypeBankFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_3880_80_FlashStation.Configuration.PlcConfigurationFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_3880_80_FlashStation.Configuration.PlcCommunication" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <_3880_80_FlashStation.Vector.VFlashTypeBankFile>
      <setting name="TypeBank" serializeAs="String">
        <value />
      </setting>
    </_3880_80_FlashStation.Vector.VFlashTypeBankFile>
    <_3880_80_FlashStation.Configuration.PlcConfigurationFile>
      <setting name="Configuration" serializeAs="String">
        <value />
      </setting>
    </_3880_80_FlashStation.Configuration.PlcConfigurationFile>
    <_3880_80_FlashStation.Configuration.PlcCommunication>
      <setting name="PlcIpAddress" serializeAs="String">
        <value>192.168.10.1</value>
      </setting>
      <setting name="PlcPortNumber" serializeAs="String">
        <value>102</value>
      </setting>
      <setting name="PlcRackNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcSlotNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcReadDbNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcReadStartAddress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcReadLength" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcWriteDbNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcWriteStartAddress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcWriteLength" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConfigurationStatus" serializeAs="String">
        <value>-1</value>
      </setting>
    </_3880_80_FlashStation.Configuration.PlcCommunication>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>