<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="_PlcAgent.Visual.MainWindowConfigurationFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_PlcAgent.Analyzer.AnalyzerSetupFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_PlcAgent.MainRegistry.MainRegistryFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_PlcAgent.Output.OutputHandlerInterfaceAssignment" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_PlcAgent.MainRegistry.MainRegistry" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_PlcAgent.Output.OutputHandlerFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_PlcAgent.Output.OutputCreator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_PlcAgent.Vector.VFlashTypeBank" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_PlcAgent.Configuration.PlcStartUpConnection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_PlcAgent.DataAquisition.CommunicationInterfacePath" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_PlcAgent.Vector.VFlashTypeBankFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_PlcAgent.Configuration.PlcConfigurationFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_PlcAgent.Configuration.PlcCommunication" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <_PlcAgent.Visual.MainWindowConfigurationFile>
      <setting name="OutputTabControlMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConnectionTabControlMinimized" serializeAs="String">
        <value>False</value>
      </setting>
    </_PlcAgent.Visual.MainWindowConfigurationFile>
    <_PlcAgent.Analyzer.AnalyzerSetupFile>
      <setting name="SampleTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TimeRange" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NumberOfChannels" serializeAs="String">
        <value>0</value>
      </setting>
    </_PlcAgent.Analyzer.AnalyzerSetupFile>
    <_PlcAgent.MainRegistry.MainRegistryFile>
      <setting name="PlcCommunicators" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CommunicationInterfaceHandlers" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OutputHandlers" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VFlashTypeBanks" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VFlashHandlers" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Analyzers" serializeAs="String">
        <value />
      </setting>
    </_PlcAgent.MainRegistry.MainRegistryFile>
    <_PlcAgent.Output.OutputHandlerInterfaceAssignment>
      <setting name="Assignment" serializeAs="String">
        <value />
      </setting>
    </_PlcAgent.Output.OutputHandlerInterfaceAssignment>
    <_PlcAgent.MainRegistry.MainRegistry>
      <setting name="PlcCommunicators" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CommunicationInterfaceHandlers" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OutputHandlers" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VFlashTypeBanks" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VFlashHandlers" serializeAs="String">
        <value>0</value>
      </setting>
    </_PlcAgent.MainRegistry.MainRegistry>
    <_PlcAgent.Output.OutputHandlerFile>
      <setting name="StartAddress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EndAddress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FileNameSuffix" serializeAs="String">
        <value />
      </setting>
    </_PlcAgent.Output.OutputHandlerFile>
    <_PlcAgent.Output.OutputCreator>
      <setting name="StartAddress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EndAddress" serializeAs="String">
        <value>0</value>
      </setting>
    </_PlcAgent.Output.OutputCreator>
    <_PlcAgent.Vector.VFlashTypeBank>
      <setting name="TypeBank" serializeAs="String">
        <value />
      </setting>
    </_PlcAgent.Vector.VFlashTypeBank>
    <_PlcAgent.Configuration.PlcStartUpConnection>
      <setting name="ConnectAtStartUp" serializeAs="String">
        <value>False</value>
      </setting>
    </_PlcAgent.Configuration.PlcStartUpConnection>
    <_PlcAgent.DataAquisition.CommunicationInterfacePath>
      <setting name="Path" serializeAs="String">
        <value />
      </setting>
      <setting name="ConfigurationStatus" serializeAs="String">
        <value>0</value>
      </setting>
    </_PlcAgent.DataAquisition.CommunicationInterfacePath>
    <_PlcAgent.Vector.VFlashTypeBankFile>
      <setting name="TypeBank" serializeAs="String">
        <value />
      </setting>
    </_PlcAgent.Vector.VFlashTypeBankFile>
    <_PlcAgent.Configuration.PlcConfigurationFile>
      <setting name="Configuration" serializeAs="String">
        <value />
      </setting>
    </_PlcAgent.Configuration.PlcConfigurationFile>
    <_PlcAgent.Configuration.PlcCommunication>
      <setting name="PlcIpAddress" serializeAs="String">
        <value>192.168.10.1</value>
      </setting>
      <setting name="PlcPortNumber" serializeAs="String">
        <value>102</value>
      </setting>
      <setting name="PlcRackNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcSlotNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcReadDbNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcReadStartAddress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcReadLength" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcWriteDbNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcWriteStartAddress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlcWriteLength" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConfigurationStatus" serializeAs="String">
        <value>-1</value>
      </setting>
    </_PlcAgent.Configuration.PlcCommunication>
  </userSettings>
</configuration>